<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
  <h1>Meine Portfolioitems</h1>

  <div>
    <ul class="liststyle">
      <li class="itemstyle">
        <a routerLink="/show_item">Portfolioitem 1 (Platzhalterlink)</a>
      </li>
      <li class="itemstyle">
        <a routerLink="/show_item">Portfolioitem 2 (Platzhalterlink)</a>
      </li>
      <li class="itemstyle">
        <a routerLink="/show_item">Portfolioitem 3 (Platzhalterlink)</a>
      </li>
    </ul>
  </div>

</div>

<app-footer></app-footer>
