<div class="dialog">

  <div *ngIf="!loading">
    <h1>Portfolio-Item nachkaufen </h1>
    <p class="item"><b>ISIN:</b> {{this.metaData.shareDTO?.isin}}</p>
    <p class="item"><b>Name:</b> {{this.metaData.shareDTO?.name}}</p>
    <p class="item"><b>Detaillierte Beschreibung:</b> {{this.metaData.shareDTO?.description}}</p>
    <p class="item"><b>Kategorie:</b> {{this.metaData.shareDTO?.category}}</p>
    <p class="item"><b>Kaufpreis:</b> {{this.metaData.currentPurchasePrice |currency:'EUR':'symbol'}}</p>

    <form class="form" [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">

      <div class="container">
        <mat-form-field class="form-field">
          <mat-label>Anzahl</mat-label>
          <input matInput id="quantity" maxlength="5" formControlName="quantity" (input)="onInputQuantity($event)"
                 autocomplete="off"/>
          <mat-error class="error" *ngIf="(this.errorMap.get('quantity')?.length || 0) >=1">{{errorMap.get('quantity')}}</mat-error>
        </mat-form-field>
      </div>

      <div class="button-area">
        <div *ngIf="!sending">
          <button [type]="'submit'">Kaufen</button>
        </div>
        <div id="sending" *ngIf="sending">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
        <button mat-dialog-close>Abbrechen</button>
      </div>
    </form>
  </div>

  <div id="loading" *ngIf="loading">
    <mat-spinner diameter = "65"></mat-spinner>
  </div>


</div>


