<form [formGroup]="pItemForm" (ngSubmit)="onSubmit()">

  <p>Bitte füllen Sie alle Felder aus.</p>


  <div>
    <label id="wkn-label" for="wkn">WKN: </label>
    <input #wkn id="wkn" name="wkn" list="wkn-suggestions" type="text" oninput="this.value = this.value.slice(0,6)" (keyup)="onKeyUpWkn($event)" (blur)="onBlur()" formControlName="wkn"/>
    <datalist id="wkn-suggestions">
      <option *ngFor = "let share of this.sharesFiltered" [value]="share.wkn" >{{share.wkn}}</option>
    </datalist>
    <div id="wkn-alert"> {{this.wknError}} </div>
  </div>

  <div>
    <label id="name-label" for="name">Name: </label>
    <input #name id="name" name="name" list="name-suggestions" type="text" (keyup)="onKeyUpName($event)" (blur)="onBlur()" formControlName="name" />
    <datalist id="name-suggestions">
      <option *ngFor = "let share of this.sharesFiltered" [value]="share.name" >{{share.name}}</option>
    </datalist>
    <div id="name-alert"> {{this.nameError}} </div>
  </div>

  <div>
    <label id="description-label" for="description">Beschreibung: </label>
    <textarea id="description" (keyup)="onKeyUpDescription($event)" name="description" type="text" oninput="this.value = this.value.slice(0,255)" formControlName="description"></textarea>
    <div>{{this.leftSigns}} von 255 Zeichen</div>
    <div id="description-alert"> {{this.descriptionError}} </div>
  </div>

  <div>
    <label id="cat-label" for="cat">Kategorie: </label>
    <input id="cat" name="cat" type="text" formControlName="cat" />
    <div id="cat-alert"> {{this.catError}} </div>
  </div>

  <div>
    <label id="quantity-label" for="quantity">Anzahl: </label>
    <input id = "quantity" name="quantity" formControlName="quantity" oninput="this.value=this.value.replace(/[^\d]/g,'');" />
    <div id="quantity-alert"> {{this.quantityError}} </div>
  </div>

  <div>
    <label id="purchase-date-label" for="purchase-date">Kaufdatum: </label>
    <input id="purchase-date" name="buy-date" type="date" formControlName="purchaseDate" />
    <div id="purchase-date-alert"> {{this.purchaseDateError}} </div>
  </div>

  <div>
    <label id="purchase-price-label" for="purchase-price">Kaufpreis: </label>
    <input id="purchase-price" name="purchase-price" type="text"
           formControlName="purchasePrice" (keydown)="onKeyDownPrice($event)"
           oninput="this.value=this.value.replace(/[^\d,]/g,'').replace(/(,.*)\,/g, '$1').replace(/^(\d+\,\d{2}).*/g, '$1');" />
    <div id="purchase-price-alert"> {{this.purchasePriceError}} </div>
  </div>

  <div>
    <button type="submit">Hinzufügen</button>
    <button type="button" (click)="clearForm()">Zurücksetzen</button>
  </div>

</form>
