header {
  background-color: black;
  height: 100px;
  display: flex; /* Use Flexbox to arrange items horizontally */
  align-items: center; /* vertically center items */
}

.logo {
  height: 80px; /* customize logo size */
  margin-left: 20px; /* so that the container is not directly on the side end of the window */
}

.header-right {
  margin-left: auto; /* aligns right header part on the right side */
  margin-right: 20px; /* so that the container is not directly on the side end of the window */
}
