header {
  background-color: black;
  display: flex; /* Use Flexbox to arrange items horizontally */
  align-content: normal;
  height: 100px;
  justify-content: normal; /* Put space between items */
}

.logo {
  height: 50px;
  margin-top: 28px;
  margin-left: 15px;
}

.header-right {
  color: blue; /* Change the color to your desired color */
  text-decoration: none; /* Remove underline if needed */
}

