h1 {
    font-size: 1.5em;
    color:black;
  }
  
  .item {
    width:13vw;
    max-width: 20vw;
    list-style-type: none;
    border: 0.11em solid lightgrey;
    border-radius: 1vh;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 1em;
    margin-bottom: 2.5vh;
    padding: 1.2vh 1.2vw 1.2vh 0.7vw;
    color: black;
    overflow:auto;
  }
  
  .dialog{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-field {
    width: 15vw;
    border-radius:2vh;
  }
  
  input {
    width:10vw;
    border: 0.11em solid lightgrey;
    border-radius: 2vh;
    font-size: 1em;
    color: black;
    overflow:auto;
  }
  
  button{
    border: none;
    outline: none;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 4vh;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 1.5vh;
    user-select: none;
  }
  
  button:hover{
    box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;
  }
  
  button:active{
    background-color: white;
    color:black;
    transform: translateY(0.2vh);
  }
  
  .button-area{
    margin-top:2vh;
    display: flex;
    justify-content: space-evenly;
  }

  .container{
    min-height: 10vh;
  }