
td {
  font-size: 1.2em;
}

th {
  font-size:1.2em;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.routing-button{
  width: 35px; /* Set your desired button size */
  height: 35px;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  margin-left:20px;
}

.routing-button:hover, .favorite-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 35px; /* Set your desired button size */
  height: 35px;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  margin-left: 20px;
}

.favorite-button{
  width: 35px; /* Set your desired button size */
  height: 35px;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%; /* Makes the button round */
  margin-left:20px;

}

.buy-button{
  width: 35px; /* Set your desired button size */
  height: 35px;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  margin-left:0.4vh;
  font-size: 1em;
}

.buy-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 35px; /* Set your desired button size */
  height: 35px;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  font-size: 2vh;
}

.button-area{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
  float:right;
}

h1 {
  font-size: 50px;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.add{
  margin-top:2px;
  margin-left:-1px;
}

.not-liked{
  margin-top:0.2vh;
  margin-left:-0.1vw;
  color:black;
}

.not-liked:hover{
  margin-top:0.2vh;
  margin-left:-0.1vw;
  color:white;
}

.liked{
  margin-top:0.2vh;
  margin-left:-0.1vw;
  color: #DA0000;
}

.spinner{
  margin-top: 13vh;
  margin-left: 5vw;
}

.profit{
  color: green;
}

.loss {
  color:red;
}
