.mat-column-isin {
  font-size: 1.2em;
}

.mat-column-name {
  font-size: 1.2em;
}

.mat-column-avgPrice {
  font-size: 1.2em;
}

.mat-column-totalPrice {
  font-size: 1.2em;
}

.mat-column-totalQuantity {
  font-size: 1.2em;
}

.mat-column-buy {
  font-size: 1.2em;
}

.mat-column-profitAndLoss {
  font-size: 1.2em;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.routing-button{
  width: 3vh; /* Set your desired button size */
  height: 3vh;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  margin-left:0.8vh;
  padding: 0px;
  line-height: 0px;
}

.routing-button:hover, .favorite-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 3vh; /* Set your desired button size */
  height: 3vh;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  margin-left:0.8vh;
  padding:0px;
  line-height:0px;
}

.favorite-button{
  width: 3vh; /* Set your desired button size */
  height: 3vh;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%; /* Makes the button round */
  margin-left:0.8vh;
  padding:0px;
  line-height: 0px;
}

.buy-button{
  width: 3vh; /* Set your desired button size */
  height: 3vh;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  margin-left:1vh;
  font-size: 1em;
  padding: 0px;
  line-height: 0px;
}

.buy-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 3vh; /* Set your desired button size */
  height: 3vh;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  font-size: 2vh;
  padding: 0px;
  line-height: 0px;
}

.button-area{
  margin-bottom: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.4em;
  justify-content: flex-end;
  display: flex;
}

h1 {
  font-size: 50px;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
  background-color: whitesmoke;
  border: 0.11em solid lightgrey;
  border-radius: 1vh;
  margin-bottom: 2vh;
  padding: 1.2vh 1.2vw 1.8vh 0.7vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: black;
}

.add{
  margin-top:0.1vh;
  margin-left:-0.05vw;
}

.not-liked{
  margin-top:0.2vh;
  margin-left:-0.05vw;
  color:black;
}

.not-liked:hover{
  margin-top:0.2vh;
  margin-left:-0.05vw;
  color:white;  
}

.liked{
  margin-top:0.2vh;
  margin-left:-0.1vw;
  color: #DA0000;
}

.spinner{
  margin-top: 5vh;
  margin-left: 7vw;
}
