<!-- <div *ngIf="getLikedPItems == '' ">Es wurden noch keine Favoriten hinzugefügt. </div> -->
<h1>{{ headerTitle }}</h1>
<div>

  <div class="button-area">
    Kaufen <button routerLink="/pItemHinzufuegen" class="buy-button">✚</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ISIN Column -->
    <ng-container matColumnDef="isin">
      <th mat-header-cell *matHeaderCellDef> <b>ISIN</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.shareDTO.isin}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.shareDTO.name}} </td>
    </ng-container>

    <!-- Average Price Column -->
    <ng-container matColumnDef="avgPrice">
      <th mat-header-cell *matHeaderCellDef> <b>Durchschnittspreis</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.avgPrice |currency:'EUR':'symbol'}} </td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> <b>Gesamtpreis</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice |currency:'EUR':'symbol'}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="totalQuantity">
      <th mat-header-cell *matHeaderCellDef> <b>Anzahl</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
    </ng-container>

    <!-- Favorite / Add Shares -->
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button (click)="favoritePItem($event, element.pitemDTO, element.shareDTO)" [ngClass]="{'favorite-button-pressed' : favPressed, 'favorite-button': !favPressed}" >❤</button>
        <button routerLink="/meinPortfolio" class="routing-button" (click)="openDialog($event, element.shareDTO)">✚</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="goToPItem(row.shareDTO.isin)" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
