.mat-column-wkn {
  font-size: 1.2em;
}

.mat-column-name {
  font-size: 1.2em;
}

.mat-column-avgPrice {
  font-size: 1.2em;
}

.mat-column-totalPrice {
  font-size: 1.2em;
}

.mat-column-totalQuantity {
  font-size: 1.2em;
}

.mat-column-buy {
  font-size: 1.2em;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.routing-button{
  width: 30px; /* Set your desired button size */
  height: 30px;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  position: relative;
}

.routing-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 30px; /* Set your desired button size */
  height: 30px;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  position: relative;
}

.buy-button{
  width: 30px; /* Set your desired button size */
  height: 30px;
  border: 3px solid black; /* Black border */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the button round */
  position: static;
  margin-left:0.8vh;
}

.buy-button:hover{
  box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  width: 30px; /* Set your desired button size */
  height: 30px;
  border: 3px solid black; /* Black border */
  background-color: black;
  color:white;
  border-radius: 50%; /* Makes the button round */
  position: relative;
}

.button-area{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
  float:right;
}