footer {
  min-height:10vh;
  width: 100%; /* stretch footer over whole website */
  background-color: black;
  justify-content: normal; /* Put space between items */
  color: white; /* makes the link white insteal of standard blue */
  display: flex;
  align-items: center;
}

.container a {
  text-decoration: none; /* removes link underscore from navigation menue */
  color: white; /* makes the link white insteal of standard blue */
  margin: 10px;
}
