<h1> Neues Portfolio-Item hinzufügen</h1>

<form class="form" [formGroup]="pItemForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <!-- new -->
    <div class="container">
      <mat-form-field>
        <mat-label>ISIN</mat-label>
        <input matInput id="isin" (blur)="onBlurISIN($event)" maxlength="12" value="isin" type="text"  formControlName="isin"/>
        <mat-error class="error" *ngIf="(this.errorMap.get('isin')?.length || 0) >=1">{{errorMap.get('isin')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <span id="name" class="display-field">{{ metaData?.shareDTO?.name}}</span>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <span id="category" class="display-field">{{ metaData?.shareDTO?.category }}</span>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Beschreibung</mat-label>
        <div id="description" class="display-field">{{ metaData?.shareDTO?.description }}</div>
      </mat-form-field>
    </div>
  </div>

  <div class="row bottom">

    <div class="container">
      <mat-form-field>
        <mat-label>Anzahl</mat-label>
        <input matInput id="quantity" maxlength="255" formControlName="quantity" (input)="onInputQuantity($event)" />
        <mat-error class="error" *ngIf="(this.errorMap.get('quantity')?.length || 0) >=1">{{errorMap.get('quantity')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Kaufpreis pro Stück</mat-label>
        <span id="price" class="display-field">{{ metaData?.currentPurchasePrice }}</span>
      </mat-form-field>
    </div>

  </div>

  <div class="button-area">
    <button [type]="'submit'">Hinzufügen</button>
    <button [type]="'button'" (click)="clearForm()">Zurücksetzen</button>
  </div>

</form>
