<h1> Neues Portfolio-Item hinzufügen</h1>

<form class="form" [formGroup]="pItemForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <!-- new -->
    <div class="container">
      <mat-form-field>
        <mat-label>ISIN</mat-label>
        <!-- Replace input with span -->
        <span matInput id="isin" class="display-field">{{ backendISINData }}</span>
        <!-- Remove blur event and formControlName since it's not an input anymore -->
        <!-- Remove error handling -->
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <span matInput id="name" class="display-field">{{ nameFromBackend }}</span>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Kategorie</mat-label>
        <span matInput id="category" class="display-field">{{ categoryFromBackend }}</span>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Beschreibung</mat-label>
        <div matInput id="description" class="display-field">{{ descriptionFromBackend }}</div>
      </mat-form-field>
    </div>
  </div>

  <div class="row bottom">

    <div class="container">
      <mat-form-field>
        <mat-label>Anzahl</mat-label>
        <input matInput id="quantity" maxlength="255" formControlName="quantity" (input)="onInputQuantity($event)" />
        <mat-error class="error" *ngIf="(this.errorMap.get('quantity')?.length || 0) >=1">{{errorMap.get('quantity')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Kaufpreis pro Stück</mat-label>
        <input matInput id="purchase-price" type="text" maxlength="255" formControlName="purchasePrice"
               (input)="onInputPurchasePrice($event)" (keydown)="onKeyDownPrice($event)" (blur)="transformPrice($event)"  />
        <mat-error class="error" *ngIf="(this.errorMap.get('purchasePrice')?.length || 0) >=1">{{errorMap.get('purchasePrice')}}</mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="button-area">
    <button [type]="'submit'">Hinzufügen</button>
    <button [type]="'button'" (click)="clearForm()">Zurücksetzen</button>
  </div>

</form>
