.mat-column-purchaseDate {
  font-size: 1.2em;
}

.mat-column-quantity {
  font-size: 1.2em;
}

.mat-column-purchasePrice {
  font-size: 1.2em;
}

.mat-column-totalPrice {
  font-size: 1.2em;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.purchasebody {
  margin-bottom:1vh;
}