<ng-container *ngIf="data$ | async as data">
   <div class="metabody">
    <h1>Detailansicht: {{data.shareDTO?.name}} {{data.shareDTO?.isin}}</h1>
    <ul class="list">
      <li class="item"><b>ISIN:</b> {{data.shareDTO?.isin}}</li>
      <li class="item"><b>Name:</b> {{data.shareDTO?.name}}</li>
      <li lang="de" class="item"><b>Detaillierte Beschreibung:</b> <br> {{data.shareDTO?.description}} </li>
      <li class="item"><b>Kategorie:</b> {{data.shareDTO?.category}}</li>
      <li class="item"><b>Gesamtanzahl:</b> {{data.totalQuantity}}</li>
      <li class="item"><b>Durchschnittspreis:</b> {{data.avgPrice |currency:'EUR':'symbol'}}</li>
      <li class="item"><b>Gewinn/Verlust pro Aktie:</b> {{data.profitAndLoss |currency:'EUR':'symbol'}}</li>
      <li class="item"><b>Gewinn/Verlust Gesamt:</b> {{data.profitAndLossCum |currency:'EUR':'symbol'}}</li>
    </ul>
  </div>
</ng-container>
