
<form class="form" [formGroup]="accountForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="name" maxlength="30" value="Name" type="text"  formControlName="name"/>
        <mat-error class="error" *ngIf="(this.errorMap.get('name')?.length || 0) >=1">{{errorMap.get('name')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Benutzername</mat-label>
        <input matInput id="username" (blur)="onBlurUsername()" maxlength="30" value="Benutzername" type="text"  formControlName="username"/>
        <mat-error class="error" *ngIf="(this.errorMap.get('username')?.length || 0) >=1">{{errorMap.get('username')}}</mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="container">
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput id="password" maxlength="30" type="password" formControlName="password" />
        <mat-error class="error" *ngIf="(this.errorMap.get('password')?.length || 0) >=1">{{errorMap.get('password')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Passwort bestätigen</mat-label>
        <input matInput id="confirmPassword" maxlength="30" type="password" formControlName="confirmPassword" />
        <mat-error class="error" *ngIf="(this.errorMap.get('confirmPassword')?.length || 0) >=1">{{errorMap.get('confirmPassword')}}</mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="container">
      <mat-form-field>
        <mat-label>Rolle</mat-label>
        <select  matNativeControl id="role" formControlName="role" >
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
        <mat-error class="error" *ngIf="(this.errorMap.get('role')?.length || 0) >=1">{{errorMap.get('role')}}</mat-error>
      </mat-form-field>
    </div>
  </div>



  <div class="button-area">
    <button [type]="'addAccount'">Hinzufügen</button>
    <button [type]="'button'" (click)="clearForm()">Zurücksetzen</button>
  </div>

</form>
