<form class="form" [formGroup]="LoginForm" (ngSubmit)="onSubmit()">

  <div *ngIf="(this.errorMap.get('backendError')?.length || 0) >=1" class="error-field">
    <mat-error class="error" >{{errorMap.get('backendError')}}</mat-error>
  </div>

  <div class="row">
    <div class="container">
      <mat-form-field>
        <mat-label>Benutzername</mat-label>
        <input matInput id="username" maxlength="30" value="Benutzername" type="text"  formControlName="username"/>
        <mat-error class="error" *ngIf="(this.errorMap.get('username')?.length || 0) >=1">{{errorMap.get('username')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput id="password" maxlength="30" type="password" formControlName="password" />
        <mat-error class="error" *ngIf="(this.errorMap.get('password')?.length || 0) >=1">{{errorMap.get('password')}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="button-area">
    <button [type]="'login'">Login</button>
    <button [type]="'button'" (click)="clearForm()">Zurücksetzen</button>
  </div>

</form>
