.header {
  background-color: black;
  align-content: normal; /* Put space between items */
  height: 100px;
}

.logo {
  height: 50px;
  margin-top: 28px;
  margin-left: 15px;
}

.header-right {
  color: blue; /* Change the color to your desired color */
  text-decoration: none; /* Remove underline if needed */
}
