.mat-column-name {
    font-size: 1.2em;
  }
  
  .mat-column-username {
    font-size: 1.2em;
  }
  
  .mat-column-password {
    font-size: 1.2em;
  }
  
  .mat-column-edituser {
    font-size: 1.2em;
  }
  
  .mat-column-deleteuser {
    font-size: 1.2em;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .routing-button{
    border: 3px solid black; /* Black border */
    background-color: white; /* White background */
    border-radius: 1vh;
    position: relative;
    justify-content: center;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 1em;

  }
  
  .routing-button:hover{
    box-shadow: 0.15vw 0.4vh 0.15vw rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;    
    border: 3px solid black; /* Black border */
    background-color: black;
    color:white;
    border-radius: 1vh;
    position: relative;
    justify-content: center;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 1em;

  }
  