<h1>Platzhalter Benutzerliste (WIP)</h1>

<table mat-table class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> <b>Benutzername</b> </th>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> <b>Passwort</b> </th>
    </ng-container>

    <!-- Edit Users -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> <b>User Bearbeiten</b> </th>
    </ng-container>

    <!-- Delete Users -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> <b>User Löschen</b> </th>
      </ng-container>

</table>
