<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body" >
  <ng-container *ngIf="data$ | async as data">
    <h1>Detailansicht Portfolioitem {{data.shareDTO?.name}}</h1>

  <div>
    <ul class="liststyle">
      <li class="itemstyle">ID: {{data.id}}</li>    
      <li class="itemstyle">WKN: {{data.shareDTO?.wkn}}</li>
      <li class="itemstyle">Name: {{data.shareDTO?.name}}</li>
      <li class="itemstyle">Kaufpreis: {{data.purchasePrice}}</li>
      <li class="itemstyle">Anzahl: {{data.quantity}}</li>
      <li class="itemstyle">
        <p>Detaillierte Beschreibung:</p>
        <p>{{data.shareDTO?.description}}</p>
      </li>
      <li class="itemstyle">Kategorie: {{data.shareDTO?.category}}</li>            
    </ul>
  </div>
</ng-container> 

<div class="button-area">
  <a [routerLink]="'/mein_portfolio'"><button>Zurück zu "Mein Portfolio"</button></a>
</div>

</div>

<app-footer></app-footer>

