<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<div class="body" >
  <ng-container *ngIf="data$ | async as data">
    <h1>Detailansicht: {{data.shareDTO?.name}} {{data.shareDTO?.wkn}}</h1>

    <div>
      <ul class="liststyle">
        <li class="itemstyle"><b>WKN:</b> {{data.shareDTO?.wkn}}</li>
        <li class="itemstyle"><b>Name:</b> {{data.shareDTO?.name}}</li>
        <li class="itemstyle"><b>Detaillierte Beschreibung:</b> <br />{{data.shareDTO?.description}}</li>
        <li class="itemstyle"><b>Kategorie:</b> {{data.shareDTO?.category}}</li>
        <li class="itemstyle"><b>Gesamtanzahl:</b> {{data.totalQuantity}}</li>
        <li class="itemstyle"><b>Durchschnittspreis:</b> {{data.avgPrice |currency:'EUR':'symbol'}}</li>
      </ul>
    </div>
  </ng-container>

  <div class="tablestyle">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Purchase Date Column -->
      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell *matHeaderCellDef> <b>Kaufdatum</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.purchaseDate |date}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> <b>Anzahl</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Purchase Price Column -->
      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell *matHeaderCellDef> <b>Kaufpreis</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.purchasePrice |currency:'EUR':'symbol'}} </td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> <b>Gesamtpreis</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice |currency:'EUR':'symbol'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="button-area">
    <a [routerLink]="'/meinPortfolio'"><button>Zurück</button></a>
  </div>

</div>

<app-footer></app-footer>
